@model Entities.Project
@{
    ViewBag.Title = "EditProjectForm";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>Edit project.</h2>
</hgroup>

@using (Html.BeginForm("EditProject","Project", FormMethod.Post,new { ReturnUrl = ViewBag.ReturnUrl})) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend>Project Form</legend>
        <ol>
            <li>
                @Html.LabelFor(m=>m.Name)
                @Html.TextBoxFor(m => m.Name,new { @Value = ViewBag.Project.Name })
            </li>
                @Html.TextBoxFor(m => m.ID,new { @Value = ViewBag.Project.ID,@type="hidden" })
            <li>
                @Html.LabelFor(m => m.Description)
                @Html.TextAreaFor(m=>m.Description,new { @Value = ViewBag.Project.Description })
            </li>
             <li>
                @Html.LabelFor(m => m.User.ID)
                @Html.TextAreaFor(m=>m.User.ID,new { @Value = ViewBag.User.ID })
            </li>
         </ol>
        <input type="submit" value="Edit" />
    </fieldset>
}
